<!DOCTYPE html>
<html>
<head>
    <title>ECM Revoluted</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body class="container">
    {{#flash.error}}
        <aside class="flash-error alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{#t}}flash-error-title{{/t}}</h4>
            {{.}}

        </aside>
    {{/flash.error}}

    {{#flash.info}}
        <aside class="flash-info alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{#t}}flash-info-title{{/t}}</h4>
            {{.}}

        </aside>
    {{/flash.info}}

    {{{ yield }}}
    <a href="/logout">Logout</a>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $(".flash-info").remove();
            },5000);

        });
    </script>
</body>
</html>