
.tab-content{
  border: 1px solid #ddd;
  border-top: none;
  margin-top: -2px;
  padding-top: 0;
  min-height: 400px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 5px 5px 5px #f5f5f5;
  margin-right: -2px;
  padding: 10px;
}

#esami,#utenti {

}


.nav.nav-tabs {
  margin-bottom: 0;
}

.search-term{
  background: #ffff00;
  border-radius: 2px;
  border: 1px solid #cccc00;
  padding: 2px 0 2px 0;
}